.text {
    text-align: center;
    font-size: 2em
}

.button {
    width: 30%;
    height: 50px;
    align-content: center;
    border-radius: 0.5em;
    margin-top: 1em;
}

#button-container {
    text-align: center;
}

#container {
    margin: auto;    
    margin-top: 10%;
    max-width: 20em;
    padding: 0.5em;
    border-radius: 2em;
    border: 3px solid black;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 2em;
}
