//https://css-tricks.com/seamless-responsive-photo-grid/

.flex-container {    
    column-count:         5;
    column-gap:           0px;
}

.flex-container div {    
    display: inline-block;
    width: 100%;
    height: auto;
    break-inside: avoid-column;
}

@media (max-width: 1200px) {
    .flex-container {
    column-count:         4;
    }
  }

@media (max-width: 1000px) {
    .flex-container {
    column-count:         3;
    }
  }

@media (max-width: 800px) {
    .flex-container {
    column-count:         2;
    }
  }
  
@media (max-width: 400px) {
    .flex-container {
    column-count:         1;
    }
  }
  
.fixed-bottom {
    text-align: center;
    background: darkgray;
}