<div id="close"><i (click)="close()" class="material-icons"> close </i></div>
<div class="navigation">
  <i (click)="before()" id="left" class="material-icons"> navigate_before </i>
  <i (click)="next()" id="right" class="material-icons"> navigate_next </i>
</div>
<div class="container-fluid" (swipeleft)="next()" (swiperight)="before()">
  <div class="text-container">
    <p class="d-md-none text-danger">Swipe left or right to switch between images</p>
    <h2>{{ currentTitle }}</h2>
    <span>{{ currentDescription }}</span>
  </div>
  <div class="pic-container" [@fade]="state" (@fade.done)="onDone($event)">
    <img
      [src]="this.currentSource"
      [alt]="this.currentTitle"
      class="shadow-lg p-3 mb-5 bg-white rounded"
    />
  </div>
</div>
