<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <img [routerLink]="['']" alt="Shop Logo" src="favicon.ico">  
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['']">Home</a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav">
    <p>Pages:</p>
    <ol class="navbar-nav" id="pageList" *ngFor = "let page of pages">
      <li class="nav-item">
       <a routerLink = "/page/{{page.toString()}}">{{page.toString()}}</a>
      </li>
    </ol>
  </div>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="getIsAdmin()">
        <a [routerLink]="['/admin']">Admin Page</a>
      </li>
      <li class="nav-item" *ngIf="getLogedIn()">
        <p>{{getUsername()}}</p>
      </li>
      <li class="nav-item" *ngIf="!getLogedIn()">
        <a [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" *ngIf="getLogedIn()">
        <a [routerLink]="['/login']" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/shoppingcart']">Shopping cart</a>
      </li>
    </ul>
  </div>
</nav>