<div class="container shadow p-3 mb-3">
  <div class="row">
    <div class="col-md-4 col-xs-0">
      <img [src]="path" />
    </div>
    <div class="col-md-4 col-xs-12" id="picture-text">
      <div>
        <h4>{{title}}</h4>
      </div>
      <div id="picture-description">
        <span>{{description}}</span>
      </div>
      <div>
        <h5>
          {{price}}$
        </h5>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12  text-right">
      <input type="button" (click)="delete()" class="btn col-5 bg-danger" value="Delete" />
    </div>
  </div>
</div>