.navbar{
   padding-top: 0px;
   padding-bottom: 0px;
}

nav a img{
   width: 50px;
}

.material-icons{
    color:white;
   font-size: 40px;
   padding: 0;
 }

 .nav-link{
    font-size: 18px;
 }

 #mobile{
    visibility: none;
 }