<mat-slide-toggle class="ml-5" [checked]="secure" (change)="changed($event)" >
  <div *ngIf="secure; else secoff">
    <div class="security oncolor">
      Security ON
    </div>
  </div>
  <ng-template #secoff>
    <div class="security bg-danger">
      Security OFF
    </div>
</ng-template>
</mat-slide-toggle>
<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Settings">
    <app-settings></app-settings>
  </mat-tab>
  <mat-tab label="History">
    <app-history></app-history>
  </mat-tab>
  <mat-tab label="Logs">
    <app-logs></app-logs>
  </mat-tab>
  <div>
  </div>
</mat-tab-group>