input{
    width: 100px;
}

h3{
    margin: 0;
}

.container-fluid{
    height: 11%;
}

.row{
    padding-top: 2%;
    box-shadow: 0 -15px 0px -15px #333;
}

#items{
    padding-top: 6%;
    padding-bottom: 8%;
}

input[type="button"]{
    color: black;
    background-color: #5cb85c;
}

input[type="button"]:disabled{
    color: transparent;
    background-color: transparent;
}

@media only screen and (max-width: 800px) {
    #items{
        padding-top: 10%;
        padding-bottom: 15%;
    }
}

@media only screen and (max-width: 450px) {
    #items{
        padding-top: 17%;
        padding-bottom: 21%;
        padding-left: 4%;
        padding-right: 4%;
    }
}