img{
    width: 150px;
}

form {
    border-radius: 1em;
    text-align: center;
    width: min-content;
    margin: auto;
    margin-top: 8%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
    height: 30em;
    width: 18em;

    .row{
        margin-top: 0.2em;
        padding: 3px;
    }


    input[type="text"], input[type="password"]{
        border: 1px solid grey;
    }

    input[type="submit"]{
        border-radius: 0.7em;
        width: 40%;
    }

    input[tpye="submit"]:disabled {
        background-color: red !important;
        color: black !important;
    }
} 

@media only screen and (max-width: 800px) {

    form{
        width: 20em;
        margin-top: 20%;

        #form-container{
            height: 80%;
        }
    }

    input[type="text"], input[type="password"]{
        width: 60%;
        font-size: 20px;
    }

    input[type="submit"]{
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px) {
    form{
        margin-top: 25%;
    }
}